<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Hello Spring Boot!</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- load a "webjar" library -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <h4>a simple form</h4>
    <hr />

    <form class="form-horizontal">

        <section class="form-group" th:each="question : ${questions}">
             <div th:include="fragments/answerables :: ${question.type}(answerable=${question})" />
        </section>

    </form>
</div>
</body>
</html>