<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Hello Spring Boot!</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- load a "webjar" library -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <!-- custom css -->
    <link href="static/css/list.css"
          th:href="@{/css/list.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <section class="todo">

            <ul class="todo-list">
                <li th:each="task : ${tasks}">
                    <input type="checkbox" th:id="${task.id}" />
                    <label class="toggle" th:for="${task.id}" />
                    <th:block th:text="${task.value}"></th:block>
                </li>
            </ul>

        </section>
    </div>
</body>
</html>